.env
.vscode/
.idea/
.agents/

typechain-types

# OS file
.DS_Store

# Dependency directories
node_modules
jspm_packages
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.npmrc

# Compiled binary addons (http://nodejs.org/api/addons.html)
bin
build
artifacts
cache
dist
